<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список всех посетителей библиотеки</title>
</head>
<body style="text-align: center">
<hr/>
<h1>Список всех посетителей библиотеки</h1>
<hr/>
<h2>
    <br>
    <div th:each="person : ${people}">
        <a th:href="@{/people/{personId}(personId=${person.getPersonId()})}"
           th:text="${person.getName() + ', ' + person.getYearOfBirth()}"></a>
    </div>
    <br>
    <hr/>
    <a href="/people/createNewPerson">Добавить нового посетителя!</a>
</h2>
<br>
<hr/>
<a href="/">Вернуться на главную!</a>
</body>
</html>