<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги по названию</title>
</head>
<body style="text-align: center">
<hr/>
<h1>Поиск по названию книги:</h1>
<hr/>
<h2>
    <br>
    <form th:method="POST" th:action="@{/library/search}">
        <label for="searchBookForName">Введите название книги: </label>
        <input type="text" name="searchBookForName" id = "searchBookForName"/>
        <br/>
        <input type="submit" value="Найти книгу!"/>
    </form>
    <br>
    <hr/>
    <br>
    <p th:if="${listFindBooks.isEmpty()}">Книг не найдено!</p>
    <div th:each="book : ${listFindBooks}">
        <a th:href="@{/library/{bookId}(bookId=${book.getBookId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublishing()}"></a>
    </div>
    <br>
    <hr/>
</h2>

</body>
</html>