<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Посетитель</title>
</head>
<body style="text-align: center">
<hr/>
<h1>Книга библиотеки:</h1>
<hr/>
<h2>
    <br>
    <p th:text="'ID-идентификатор: ' + ${book.getBookId()}">value</p>
    <br>
    <p th:text="${'Название книги: ' + book.getTitle()}">value</p>
    <br>
    <p th:text="${'Автор: ' + book.getAuthor()}">value</p>
    <br>
    <p th:text="${'Год публикации: ' + book.yearOfPublishing}">value</p>


    <br>
    <hr/>
    <br>

    <p th:if="${person==null}">Эта книга свободна! Кому её назначить?</p>
    <form th:method="PATCH" th:action="@{/library/{bookId}/addPersonBook(bookId=${book.getBookId()})}" th:if="${person==null}">
        <label for="person">Веберите посетителя: </label>
        <select th:object="${personAdd}" th:field="*{personId}" id="person">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}"
                    th:text="${person.getName()}"></option>
        </select>

        <input type="submit" value="Добавить посетителю книгу!" />
    </form>

    <a th:href="@{/people/{personId}(personId=${person.getPersonId()})}"
       th:text="${person.getName() + ', ' + person.getYearOfBirth()}"
       th:if="${person!=null}"></a>
    <br>
    <form th:method="PATCH" th:action="@{/library/{bookId}/release(bookId=${book.getBookId()})}">
        <input style="color: #3fd6cb" type="submit" value="Освободить книгу!"/>
    </form>

    <br>
    <hr/>
    <br>

    <a th:href="@{/library/{bookId}/editBook(bookId=${book.getBookId()})}">Редактировать данные книги!</a>
    <br>
    <form th:method="DELETE" th:action="@{/library/{bookId}(bookId=${book.getBookId()})}">
        <input style="color: red" type="submit" value="Удалить книгу!"/>
    </form>
    <br>
    <hr/>

</h2>
<br>
<hr/>
<a href="/">Вернуться на главную!</a>
</body>
</html>