<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список всех книг библиотеки</title>
</head>
<body style="text-align: center">
<hr/>
<h1>Список всех книг библиотеки</h1>
<hr/>
<h3>
    <br>
    <a th:href="@{/library?page=1&books_per_page=5&sort_by_year=false}">[ Пагинация ]</a>
    <a th:href="@{/library?page=-1&books_per_page=-1&sort_by_year=true}">[ Сортировка ]</a>
    <a th:href="@{/library?page=1&books_per_page=5&sort_by_year=true}">[ Пагинация и Сортировка ]</a>
    <br>
</h3>
<hr/>
<h2>
    <br>
    <div th:each="book : ${library}">
        <a th:href="@{/library/{bookId}(bookId=${book.getBookId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublishing()}"
           th:style="${book.isOverdueBook()}?'color: #f54343': ''"></a>
    </div>
    <br>
    <hr/>
    <a href="/library/createNewBook">Добавить новую книгу!</a>
</h2>
<br>
<hr/>
<a href="/">Вернуться на главную!</a>
</body>
</html>